:root {
    --background-color: rgb(75, 82, 77);
    --primary_color: #8d91c7ff;
    --secondary-color: #b0daf1ff;
    --text-color: #fff;
    /* --main-bg-color: brown; */
  }


body{
    background-color:var(--primary_color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
}
