:root {
    --background-color: rgb(75, 82, 77);
    --primary_color: #8d91c7ff;
    --secondary-color: #b0daf1ff;
    --text-color: #fff;
    /* --main-bg-color: brown; */
  }


body{
    background-color:var(--background-color);
    color: var(--text-color)
}
/* 
element {
    --main-bg-color: brown;
  }
  body {
    background-color: var(--main-bg-color);
  } */

/* 
--midnight-green-eagle-green: #084c61ff;
--dark-khaki: #b5ba72ff; */
