{% macro img() -%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4  #8d91c7ff text-white"><h4 style="display: flex; justify-content: center; margin: 20px;">
            <div>
                Technologies I use:
            </div>
            <div class="mt-5 flex-col space-y-2 list-none text-lg text-gray-800">
                <h2>Python</h2>
                <li>Flask</li>
                <li>Pandas</li>
                <li>Numpy</li>
                <li>Webscrapping (Selenium, bs4)</li>
                <li>Scikit-learn</li>
                <li>Pytorch</li>
                <li>OpenCV</li>
                <h2>GIT, GitHub</h2>
                <h2>SQL</h2>

            </div>
        </div>
        <div class="col-sm-5  #8d91c7ff text-white">
            <img src="{{ url_for('static', filename='img.png') }}" alt="image" class="card-img-top" alt="profile image">
            <div class="card-body">
              <h2 class="card-title">FAYYOZJON USMONOV</h2>
              <p class="card-text"><h3>Data scientist, co-founder of "The Eagle" educational center</h3></p>
              
            </div>
        </div>
         
        <div class="col-sm-3  #8d91c7ff text-white"><h4 style="margin: 5px;"></h4></div>
      </div>
        <!-- <img src="{{ url_for('static', filename='img.png') }}" alt="image" style="display: flex; justify-content: center; %width: 40; margin-left: 30%;"/> -->
    </div>

</div>
{%- endmacro %} 